<div class="panel panel-default panel-body card" data-toggle="modal" data-target="#cardModal-<%= card.id %>">
  <%= card.escape('card_name') %>
  &nbsp;
  <button type="button" class="button btn-danger btn-xs pull-right trash-card">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</div>

<!-- Edit Card Modal -->
<div class="modal fade" id="cardModal-<%= card.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-heading display-inline" id="myModalLabel">Card:</h4>
        <input type="text" class="modal-title" name="card[card_name]" value="<%= card.escape('card_name') %>">
      </div>
      <div class="modal-body">
        <label for="card-comment">Comment</label><br>
        <textarea class="modal-comment" name="card[comment]" rows="6" cols="62">comment</textarea><br><br>
        
        <label for="card-completed">Completed?</label>&nbsp;
        <input type="checkbox" class="modal-completed" id="card-completed" name="card[completed]">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary card-save">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->