<form class="inline-form edit-list">
  <div class="form-group">
    <label for="list-name">List:</label>
    <input type="text" id="list-name" class="new-form form-control" name="list[list_name]" value="<%= list.get('list_name') %>"
  </div>

  <input type="submit" class="button btn-success btn-sm" value="Save">
</form>