<form class="inline-form edit-board">
  <div class="form-group">
    <label for="board-name">Board:</label>
    <input type="text" id="board-name" class="new-form form-control" name="board[board_name]" value="<%= board.get('board_name') %>"
  </div>

  &nbsp; <input type="submit" class="button btn-success" value="Save">
</form>