


<br><br>



<div class="well">
  <legend>
    <%= currentUserUsername + "'s boards" %>
  </legend>

  <div class="boards"></div>
  
  <form id="new-board-form">
    <input type="text" class="new-form" placeholder="New Board Name" name="board_name"><br>

    <input type="submit" class="button btn-success" value="Create New Board"></p>
  </form>
</div>