<div class="panel panel-default panel-body board">
  <%= board.escape('board_name') %>
  &nbsp;
  <button type="button" class="btn btn-default btn-xs pull-right trash-card">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</div>