<h2> <%= "Board: " + board.escape('board_name') %> </h2>

<div class="lists"></div>

<form id="new-list-form">
  <label id="list-name">List Name</label>
  <input type="text" name="list_name"><br>

  <p><input type="submit" value="Create New List"></p>
</form>