<h3> <%= "Board: " + board.escape('board_name') %> </h3>

<form id="new-list-form">
  <input type="text" class="new-form form-control" name="list_name" placeholder="New List Name">

  <p><input type="submit" class="button btn-success" value="Create New List"></p>
</form>

<div class="lists"></div>

