<h2> <%= "List: " + list.escape('list_name') %> </h2>

<ul class="cards"></ul>

<form id="new-card-form">
  <label id="card-name">Card Name</label>
  <input type="text" name="card_name"><br>

  <input type="submit" value="Create New Card"></p>
</form>