<div class="pull-left well">
  <legend>
    <%= list.escape('list_name') %>
    <button type="button" class="button btn-danger btn-xs pull-right trash-list">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </legend>

  <div id="<%='list-' + list.id %>" class="cards"></div>

  <form id="new-card-form">
    <input type="text" class="new-form form-control" placeholder="New Card Name" name="card_name">

    <p><input type="submit" class="button btn-success" value="Create New Card"></p>
  </form>
<div>