<div class="pull-left well">
  <legend>
    <%= "List: " + list.escape('list_name') %>
    <button type="button" class="btn btn-default btn-xs pull-right trash-list">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </legend>

  <div class="cards"></div>

  <form id="new-card-form">
    <input type="text" name="card_name"><br>

    <p><input type="submit" value="Create New Card"></p>
  </form>
<div>